/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads/
/public/1.txt
/public/2.txt
/public/lib/
/public/reports
/public/files
/.idea
/public/task_files
/public/marking_files
/public/images
/public/technique_files
/public/cargo_files
