.left_content {
    background-color: cadetblue;
    max-width: 100%;
    padding: 20px;
}
#taken-image,#taken-image-tex {
    color: #fff; padding:20px; border:1px solid #08F6E3; background: #A365EB;
}
#camera{
    max-width: 100%;
    margin-bottom: 10px;
}
video{
    max-width: 100%;
}
label{
    font-size: 20px;
    font-weight: bold;
}
.form-control:focus{
    background: green;
    color: white;
}
.right_content {
    background-color: silver;
    max-width: 100%;
    padding: 20px;
}
@media print {
    /* Стиль для печати */
    .container-fluid,.v-card__actions{
        visibility: hidden;
    }
    /* Блок который нужно отобразить */
    .v-card .v-sheet .theme--light {
        visibility: visible;
    }
}
.v-dialog__content {
    align-items: flex-start !important;
    /*justify-content: left !important;*/
}
.v-dialog {
    margin: 0px !important;
    overflow-y: unset !important;
}
.v-text-field {
    padding: 0px !important;
    margin: 0px !important;
}
.v-input__slot {
    margin-bottom: 0px !important;
}
.v-text-field input {
    padding: 4px 0px !important;
}
.prt_col label {
    font-size: 14px !important;
    margin-bottom: 1px !important;
}
.prt_col .form-group {
    margin-bottom: 2px !important;
}
.prt_col {
    font-size: 40px;
}
.prt_col span {
    color: #000;
}

.prt_col div {
    margin-bottom: 25px;
}
input,select, button{
    font-size: 30px !important;
}
.scan-error{
    font-size:30px;
    margin-top:80px;
}


.scan-error > span {
    color:red;
    font-size:30px;
}

.scan-succes {
    color:green;
    font-size:30px;
    margin-top:80px;
}

.scan-succes > span {
    color:Black;
    font-size:30px;
    margin-top:80px;
}

.scan-rezult .scan-error > span {
    font-weight:900;
    font-size:34px;
}

.scan-rezult .scan-succes > span {
    font-weight:900;
    font-size:34px;
}

.user{
    position:absolute;
    top:25px;
    left:85px;
}

.user > span{
    color:red;
}

.out{
    position:absolute;
    left:85px;
    top:5px;
}

.loginUsernameLabel{
    font-size:20px;
}
